# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
x64/
Debug/
Release/
build/
out/

# Intermediate files
*.obj
*.o
*.ipch
*.pch
*.pdb
*.ilk
*.idb
*.iobj
*.ipdb
*.tlog
*.lastbuildstate
*.recipe
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Temporary files
*.tmp
*.temp

# OS files
Thumbs.db
.DS_Store
